# This is an example file.
# Duplicate this file and rename it to .env.local
# Then, fill in your own Firebase project credentials.
# You can find these in your Firebase project settings.

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBNPDxhvkC-80BBCkfmo1FI3tVf3xSCkmM"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="personal-data-hub-y5fe0.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="personal-data-hub-y5fe0"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="personal-data-hub-y5fe0.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="377269984088"
NEXT_PUBLIC_FIREBASE_APP_ID="1:377269984088:web:0ed631cb9a448a2845a32d"

